@import "tailwindcss";

:root {
	--color-bg-primary: #f9fafb;
	--color-bg-card: #ffffff;
	--color-primary: #166534;
	--color-success: #059669;
	--color-danger: #e11d48;
	--color-text-main: #1e293b;
	--color-text-muted: #64748b;
}

body {
	background-color: var(--color-bg-primary);
	color: var(--color-text-main);
	font-family: "Satoshi", "Inter", sans-serif;
}
